-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: labsisfor
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `jadwal` varchar(50) DEFAULT NULL,
  `periode_kode` varchar(255) DEFAULT NULL,
  `laboratorium_kode` varchar(255) DEFAULT NULL,
  `praktikum_kode` varchar(255) DEFAULT NULL,
  `deskripsi` longtext DEFAULT NULL,
  `link_penilaian` longtext DEFAULT NULL,
  `link_asistensi` varchar(255) DEFAULT NULL,
  `kelas_mulai` int(11) DEFAULT NULL,
  `kelas_akhir` int(11) DEFAULT NULL,
  `status` varchar(100) NOT NULL DEFAULT 'Non-Aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kelas_kode` (`kelas_kode`),
  KEY `periode_kode` (`periode_kode`),
  KEY `laboratorium_kode` (`laboratorium_kode`),
  KEY `praktikum_kode` (`praktikum_kode`),
  CONSTRAINT `kelas_ibfk_1` FOREIGN KEY (`periode_kode`) REFERENCES `periode` (`periode_kode`),
  CONSTRAINT `kelas_ibfk_2` FOREIGN KEY (`laboratorium_kode`) REFERENCES `laboratorium` (`laboratorium_kode`),
  CONSTRAINT `kelas_ibfk_3` FOREIGN KEY (`praktikum_kode`) REFERENCES `praktikum` (`praktikum_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_absen`
--

DROP TABLE IF EXISTS `kelas_absen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_absen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `week` int(11) DEFAULT NULL,
  `batasabsensi` int(11) DEFAULT 0,
  `status` varchar(25) DEFAULT 'notset',
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_absen_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_absen`
--

LOCK TABLES `kelas_absen` WRITE;
/*!40000 ALTER TABLE `kelas_absen` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_absen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_absen_absensi`
--

DROP TABLE IF EXISTS `kelas_absen_absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_absen_absensi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `week` int(11) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_absen_absensi_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_absen_absensi`
--

LOCK TABLES `kelas_absen_absensi` WRITE;
/*!40000 ALTER TABLE `kelas_absen_absensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_absen_absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_aslab_mengajar`
--

DROP TABLE IF EXISTS `kelas_aslab_mengajar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_aslab_mengajar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jadwalM_kode` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `jadwalM_kode` (`jadwalM_kode`),
  KEY `username` (`username`),
  CONSTRAINT `kelas_aslab_mengajar_ibfk_1` FOREIGN KEY (`jadwalM_kode`) REFERENCES `kelas_jadwal_mengajar` (`jadwalM_kode`),
  CONSTRAINT `kelas_aslab_mengajar_ibfk_2` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_aslab_mengajar`
--

LOCK TABLES `kelas_aslab_mengajar` WRITE;
/*!40000 ALTER TABLE `kelas_aslab_mengajar` DISABLE KEYS */;
INSERT INTO `kelas_aslab_mengajar` VALUES (6,'JDWLM00001','13.2022.1.01133'),(7,'JDWLM00001','13.2021.1.01020'),(8,'JDWLM00001','13.2021.1.01016');
/*!40000 ALTER TABLE `kelas_aslab_mengajar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_enrol`
--

DROP TABLE IF EXISTS `kelas_enrol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_enrol` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `jadwal` varchar(10) DEFAULT NULL,
  `role_kelas` varchar(100) DEFAULT 'mahasiswa',
  `kelas_dosen` varchar(15) DEFAULT NULL,
  `pembuat_kelas` varchar(5) NOT NULL DEFAULT 'no',
  `nilai_aslab` float DEFAULT 0,
  `nilai_dosen` float DEFAULT 0,
  `nilai_all` float DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  KEY `username` (`username`),
  CONSTRAINT `kelas_enrol_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`),
  CONSTRAINT `kelas_enrol_ibfk_2` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=184 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_enrol`
--

LOCK TABLES `kelas_enrol` WRITE;
/*!40000 ALTER TABLE `kelas_enrol` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_enrol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_formatnilai`
--

DROP TABLE IF EXISTS `kelas_formatnilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_formatnilai` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `persentase_aslab` int(11) DEFAULT 50,
  `persentase_dosen` int(11) DEFAULT 50,
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_formatnilai_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_formatnilai`
--

LOCK TABLES `kelas_formatnilai` WRITE;
/*!40000 ALTER TABLE `kelas_formatnilai` DISABLE KEYS */;
INSERT INTO `kelas_formatnilai` VALUES (2,'KLS00002',50,50),(3,'KLS00003',50,50),(4,'KLS00004',50,50),(5,'KLS00005',50,50),(6,'KLS00006',50,50),(7,'KLS00007',50,50),(8,'KLS00008',80,20);
/*!40000 ALTER TABLE `kelas_formatnilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_forum`
--

DROP TABLE IF EXISTS `kelas_forum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_forum` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `judul_forum` varchar(255) DEFAULT NULL,
  `forum` longtext DEFAULT NULL,
  `privasi` varchar(15) NOT NULL DEFAULT 'publik',
  `username` varchar(255) DEFAULT NULL,
  `waktu_buat` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  KEY `username` (`username`),
  CONSTRAINT `kelas_forum_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`),
  CONSTRAINT `kelas_forum_ibfk_2` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`),
  CONSTRAINT `kelas_forum_ibfk_3` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_forum`
--

LOCK TABLES `kelas_forum` WRITE;
/*!40000 ALTER TABLE `kelas_forum` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_forum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_jadwal_mengajar`
--

DROP TABLE IF EXISTS `kelas_jadwal_mengajar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_jadwal_mengajar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jadwalM_kode` varchar(255) DEFAULT NULL,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `nama_jadwal` varchar(255) DEFAULT NULL,
  `hari` varchar(25) DEFAULT NULL,
  `jam_mulai` int(11) DEFAULT NULL,
  `jam_akhir` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jadwalM_kode` (`jadwalM_kode`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_jadwal_mengajar_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_jadwal_mengajar`
--

LOCK TABLES `kelas_jadwal_mengajar` WRITE;
/*!40000 ALTER TABLE `kelas_jadwal_mengajar` DISABLE KEYS */;
INSERT INTO `kelas_jadwal_mengajar` VALUES (6,'JDWLM00001','KLS00001','Senin 1','senin',1737428400,1737432000),(7,'JDWLM00007','KLS00008','Matahari 1 ','rabu',1786506600,1786469400),(8,'JDWLM00008','KLS00008','Matahari 2','jumat',1786471200,1786474800);
/*!40000 ALTER TABLE `kelas_jadwal_mengajar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_modul`
--

DROP TABLE IF EXISTS `kelas_modul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_modul` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_modul` varchar(255) DEFAULT NULL,
  `kelas_kode` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_modul_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_modul`
--

LOCK TABLES `kelas_modul` WRITE;
/*!40000 ALTER TABLE `kelas_modul` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_modul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_syarat`
--

DROP TABLE IF EXISTS `kelas_syarat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_syarat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `kepemilikan_modul` varchar(15) DEFAULT 'No',
  `pengumpulan_kwitansi` varchar(15) DEFAULT 'No',
  `pengumpulan_foto` varchar(15) DEFAULT 'No',
  PRIMARY KEY (`id`),
  KEY `kelas_kode` (`kelas_kode`),
  KEY `username` (`username`),
  CONSTRAINT `kelas_syarat_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`),
  CONSTRAINT `kelas_syarat_ibfk_2` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_syarat`
--

LOCK TABLES `kelas_syarat` WRITE;
/*!40000 ALTER TABLE `kelas_syarat` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_syarat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_tugas`
--

DROP TABLE IF EXISTS `kelas_tugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_tugas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tugas_kode` varchar(255) DEFAULT NULL,
  `modul` varchar(10) DEFAULT NULL,
  `kelas_kode` varchar(255) DEFAULT NULL,
  `judul_tugas` varchar(255) NOT NULL,
  `deskripsi` longtext DEFAULT NULL,
  `waktu_buat` int(11) NOT NULL,
  `tanggal_selesai` int(11) DEFAULT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tugas_kode` (`tugas_kode`),
  KEY `kelas_kode` (`kelas_kode`),
  CONSTRAINT `kelas_tugas_ibfk_1` FOREIGN KEY (`kelas_kode`) REFERENCES `kelas` (`kelas_kode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_tugas`
--

LOCK TABLES `kelas_tugas` WRITE;
/*!40000 ALTER TABLE `kelas_tugas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_tugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_tugas_materi`
--

DROP TABLE IF EXISTS `kelas_tugas_materi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_tugas_materi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tugas_kode` varchar(255) NOT NULL,
  `file_materi` longtext NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tugas_kode` (`tugas_kode`),
  CONSTRAINT `kelas_tugas_materi_ibfk_1` FOREIGN KEY (`tugas_kode`) REFERENCES `kelas_tugas` (`tugas_kode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_tugas_materi`
--

LOCK TABLES `kelas_tugas_materi` WRITE;
/*!40000 ALTER TABLE `kelas_tugas_materi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_tugas_materi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_tugas_pengumpulan`
--

DROP TABLE IF EXISTS `kelas_tugas_pengumpulan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_tugas_pengumpulan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tugas_kode` varchar(255) DEFAULT NULL,
  `file_tugas` longtext DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `jadwal` varchar(10) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tugas_kode` (`tugas_kode`),
  KEY `username` (`username`),
  CONSTRAINT `kelas_tugas_pengumpulan_ibfk_1` FOREIGN KEY (`tugas_kode`) REFERENCES `kelas_tugas` (`tugas_kode`),
  CONSTRAINT `kelas_tugas_pengumpulan_ibfk_2` FOREIGN KEY (`username`) REFERENCES `user` (`username`),
  CONSTRAINT `kelas_tugas_pengumpulan_ibfk_3` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_tugas_pengumpulan`
--

LOCK TABLES `kelas_tugas_pengumpulan` WRITE;
/*!40000 ALTER TABLE `kelas_tugas_pengumpulan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_tugas_pengumpulan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratorium`
--

DROP TABLE IF EXISTS `laboratorium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laboratorium` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `laboratorium_kode` varchar(255) DEFAULT NULL,
  `nama_laboratorium` varchar(255) DEFAULT NULL,
  `kepala_laboratorium` varchar(255) DEFAULT NULL,
  `koor_aslab` varchar(255) DEFAULT NULL,
  `surat_tugas` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `laboratorium_kode` (`laboratorium_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratorium`
--

LOCK TABLES `laboratorium` WRITE;
/*!40000 ALTER TABLE `laboratorium` DISABLE KEYS */;
INSERT INTO `laboratorium` VALUES (1,'LBR00001','Laboratorium Rekayasa Data dan Intelegensi Bisnis','412112200150','13.2022.1.01133','Surat_Tugas_LBR00001_412112200150.pdf'),(2,'LBR00002','Laboratorium Manajemen Sistem Informasi','412410110042','13.2022.1.01133','Surat_Tugas_LBR00002_412410110042.pdf');
/*!40000 ALTER TABLE `laboratorium` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_activity`
--

DROP TABLE IF EXISTS `log_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_activity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `activity` int(11) NOT NULL,
  `location` varchar(255) NOT NULL,
  `date` int(11) NOT NULL,
  `time` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `username` (`username`),
  CONSTRAINT `log_activity_ibfk_1` FOREIGN KEY (`username`) REFERENCES `user` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_activity`
--

LOCK TABLES `log_activity` WRITE;
/*!40000 ALTER TABLE `log_activity` DISABLE KEYS */;
INSERT INTO `log_activity` VALUES (1,'412112200150',3,'KLS00001',1737392400,'20:38:42pm'),(2,'412112200150',3,'KLS00001',1737392400,'20:40:48pm'),(3,'412112200150',3,'KLS00001',1737392400,'20:40:59pm'),(4,'Admin_lab',1,'PRD00001',1784480400,'13:09:36pm'),(5,'Admin_lab',2,'PRD00001',1785690000,'10:01:37am'),(6,'Admin_lab',2,'PRD00001',1785690000,'16:02:29pm'),(7,'Admin_lab',3,'KLS00008',1786467600,'11:05:21am');
/*!40000 ALTER TABLE `log_activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periode`
--

DROP TABLE IF EXISTS `periode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periode` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `periode_kode` varchar(255) DEFAULT NULL,
  `nama_periode` varchar(255) DEFAULT NULL,
  `status` varchar(10) NOT NULL DEFAULT 'non-aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `periode_kode` (`periode_kode`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periode`
--

LOCK TABLES `periode` WRITE;
/*!40000 ALTER TABLE `periode` DISABLE KEYS */;
INSERT INTO `periode` VALUES (1,'PRD00001','2025/2026 (Genap)','Aktif'),(2,'PRD00002','2026/2027 (Gasal)','Aktif');
/*!40000 ALTER TABLE `periode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `praktikum`
--

DROP TABLE IF EXISTS `praktikum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `praktikum` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `praktikum_kode` varchar(255) DEFAULT NULL,
  `fullname` varchar(255) DEFAULT NULL,
  `shortname` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `praktikum_kode` (`praktikum_kode`),
  UNIQUE KEY `shortname` (`shortname`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `praktikum`
--

LOCK TABLES `praktikum` WRITE;
/*!40000 ALTER TABLE `praktikum` DISABLE KEYS */;
INSERT INTO `praktikum` VALUES (1,'PRK00001','Pemrograman Web','PW'),(2,'PRK00002','Pemrograman Berbasis Objek','PBO'),(3,'PRK00003','Algoritma & Pemrograman Terstruktur','APT'),(4,'PRK00004','Sistem Basis Data','SBD'),(5,'PRK00005','Desain & Manajemen Jaringan','DMJ'),(6,'PRK00006','Sistem Basis Data Lanjut','SBDL'),(7,'PRK00007','Pemrograman Web Lanjut','PWL');
/*!40000 ALTER TABLE `praktikum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tmp_user_upload`
--

DROP TABLE IF EXISTS `tmp_user_upload`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tmp_user_upload` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `newfile` varchar(255) DEFAULT NULL,
  `lastfile` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tmp_user_upload`
--

LOCK TABLES `tmp_user_upload` WRITE;
/*!40000 ALTER TABLE `tmp_user_upload` DISABLE KEYS */;
/*!40000 ALTER TABLE `tmp_user_upload` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT 'mahasiswa',
  `firstname` varchar(100) DEFAULT NULL,
  `email` varchar(100) NOT NULL DEFAULT 'akun@gmail.com',
  `phone` varchar(100) NOT NULL DEFAULT '000',
  `institution` varchar(255) NOT NULL DEFAULT 'INSTITUT TEKNOLOGI ADHI TAMA SURABAYA',
  `departement` varchar(255) NOT NULL DEFAULT 'SISTEM INFORMASI',
  `address` varchar(255) NOT NULL DEFAULT 'Jl. Bisa di isi NO. 1',
  `city` varchar(255) NOT NULL DEFAULT 'SURABAYA',
  `country` varchar(255) NOT NULL DEFAULT 'INDONESIA',
  `picture` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=228 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-19 16:03:09
